.buttonLink {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;

  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  text-align: center;

  background-color: #1a1a1a;
  transition: border-color 0.25s;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: .5rem;

  cursor: pointer;
  user-select: none;
  -webkit-user-drag: none;

  &:hover {
    border-color: #646cff;
  }

  &:focus,
  &:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
  }

  @media (prefers-color-scheme: light) {
    background-color: #f9f9f9;
  }
}
