.select-professional-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
  }
  
  h1 {
    font-size: 2.5rem !important;
    text-align: center;
    margin-bottom: 20px;
    padding: 0 20px;
  }
  
  select {
    padding: 10px 15px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
    width: 80%;
    max-width: 300px;
    background-color: white;
    -webkit-appearance: none; 
    -moz-appearance: none;    
    appearance: none;      
  }
  
  button {
    padding: 10px 20px;
    font-size: 1rem;
    color: black;
    background-color: #000000;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  
  
    &:hover {
      background-color: #000000;
      color: white;
    }
  }
  

  select {
    position: relative;
    background-image: url('data:image/svg+xml;utf8,<svg fill="%23007bff" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M7 10l5 5 5-5z"/></svg>');
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 15px;
  }
  