.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: .5rem;

  > form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }

  > strong {
    background-color: #8f3f55;
    padding: .25rem 1rem;
    border-radius: .25rem;
  }
}
