.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  > form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
}
